<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include('partials/css-imports') %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Main content -->
    <main>
      <h1 style="margin-bottom: 100px;">Business Contacts</h1>
      <a class="button float-start mb-4 ms-5" href="/admin/contacts/new">Add New</a>
      <table class="table glass-card" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < data.length; i++) { %> 
            <tr>
              <th scope="row"><%= data[i].name %></th>
              <td><%= data[i].number %></td>
              <td><%= data[i].email %></td>
              <td>
                <a class="button" href="/admin/contacts/<%= data[i]._id %>">Edit</a>
                <a class="button" href="/admin/contacts/<%= data[i]._id %>/delete">Delete</a>
              </td>
            </tr>
          <% } %> 
        </tbody>
      </table>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>
    <%- include('partials/toast') %>

    <!-- Scripts -->
    <script>
      document.getElementById('nav-business-contacts').classList.add('active');
    </script>

    <%- include('partials/js-imports') %>
  </body>
</html>
