<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include('partials/css-imports') %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Main content -->
    <main>
      <h1 style="margin-bottom: 100px;">Contact and Socials</h1>
      <form id="contact-form">
        <div class="container">
          <div class="row m-2">
            <div class="col">
              <input type="text" placeholder="First Name" name="first_name"></input>
            </div>
            <div class="col">
              <input type="text" placeholder="Last Name" name="last_name"></input>
            </div>
          </div>
          <div class="row m-2">
            <div class="col">
              <input type="text" placeholder="Contact Number" name="contact"></input>
            </div>
          </div>
          <div class="row m-2">
            <div class="col">
              <input type="email" placeholder="Email Address" name="email"></input>
            </div>
          </div>
          <div class="row m-2">
            <div class="col">
              <textarea placeholder="Message" name="message"></textarea>
            </div>
          </div>
        </div>
        <div style="margin-top: 50px;">
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>
    <%- include('partials/toast') %>

    <!-- Scripts -->
    <script>
      document.getElementById('nav-contact').classList.add('active');
    </script>

    <script src="/javascripts/contact-form.js"></script>

    <%- include('partials/js-imports') %>
    
  </body>
</html>
