<!DOCTYPE html>
<html>
  <head>
    <title>snry | Error <%= error.status %></title>

    <%- include('partials/css-imports') %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Main content -->
    <main>
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <script src="/javascripts/script.js"></script>
  </body>
</html>
