<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include('partials/css-imports') %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Main content -->
    <main>
      <h1 style="margin-bottom: 100px;">Projects</h1>

      <div class="project-container">
        <h2>Connect Mindanao Website</h2>
        <p>Davao City, Philippines</p>
        <div class="project-image">
          <img src="/images/connect-mindanao.png" width="512px">
        </div>
        <p class="project-description">
          Connect Mindanao is a project campaign by the student government of Ateneo de Davao University to improve the 
          internet infrastructure in Mindanao, Philippines. As the sole developer of the website, I developed the petition 
          website using React JS and Firebase.
        </p>
        <a 
          href="https://connect.addu.edu.ph" 
          target="_blank"
          class="button"
          style="height: inherit; margin: 10px;"
        >
          Visit Website
        </a>
        <a 
          href="https://github.com/SAMAHANSysDev/connect-mindanao-2020" 
          target="_blank"
          class="button"
          style="height: inherit;"
        >
          View Source Code
        </a>
      </div>

      <div class="project-container">
        <h2>Tampakan Website</h2>
        <p>Davao City, Philippines</p>
        <div class="project-image">
          <img src="/images/tampakan.png" width="512px">
        </div>
        <p class="project-description">
          Tampakan is a project campaign by the student government of Ateneo de Davao University to stop the 
          mining in Tampakan, Mindanao, Philippines. As the sole developer of the website, I developed the petition 
          website using React JS and Firebase.
        </p>
        <a 
          href="https://tampakan.addu.edu.ph" 
          target="_blank"
          class="button"
          style="height: inherit; margin: 10px;"
        >
          Visit Website
        </a>
        <a 
          href="https://github.com/SAMAHANSysDev/tampakan" 
          target="_blank"
          class="button"
          style="height: inherit;"
        >
          View Source Code
        </a>
      </div>

      <div class="project-container">
        <h2>KALASAG Management Website</h2>
        <p>Davao City, Philippines</p>
        <div class="project-image">
          <img src="/images/kalasag.png" width="512px">
        </div>
        <p class="project-description">
          KALASAG is the official yearbook publication of Ateneo de Davao University. The website was developed to 
          help the management of the student details for the yearbook. It includes the submission of required documents and
          approval of such submissions by the staff. As the sole developer of the website, I developed the management system
          using React JS for the frontend with Lumen PHP for the backend API.
        </p>
        <a 
          href="https://kalasag.addu.edu.ph" 
          target="_blank"
          class="button"
          style="height: inherit; margin: 10px;"
        >
          Visit Website (needs authentication)
        </a>
      </div>

      <div class="project-container">
        <h2>URC Management Website</h2>
        <p>Davao City, Philippines</p>
        <div class="project-image">
          <img src="/images/urc.png" width="512px">
        </div>
        <p class="project-description">
          University Research Council (URC) is one of the three coequal councils of Ateneo de Davao University mandated to promote,
          encourage, and celebreate research and publication in the university. The website was developed to 
          help the management of the internal projects of researchers within the university. It includes the submission of required documents and
          approval of such submissions by the staff. As the sole developer of the website, I developed the management system
          using Next JS with Prisma as the ORM for the PostgreSQL database.
        </p>
        <a 
          href="https://urc.addu.edu.ph/management" 
          target="_blank"
          class="button"
          style="height: inherit; margin: 10px;"
        >
          Visit Website (needs authentication)
        </a>
      </div>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>
    <%- include('partials/toast') %>

    <!-- Scripts -->
    <script>
      document.getElementById('nav-projects').classList.add('active');
    </script>

    <%- include('partials/js-imports') %>
  </body>
</html>
