<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include('partials/css-imports') %>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Main content -->
    <main>
      <h1 style="margin-bottom: 100px;">Registration</h1>
      <form id="login-form" method="post">
        <div>
          <input type="text" placeholder="Username" name="username" style="margin: 5px; width: 400px"></input>
        </div>
        <div>
          <input type="password" placeholder="Password" name="password" style="margin: 5px; width: 400px"></input>
        </div>
        <div>
          <input type="password" placeholder="Confirm Password" name="confirmPassword" style="margin: 5px; width: 400px"></input>
        </div>
        <div>
          <input type="email" placeholder="Email" name="email" style="margin: 5px; width: 400px"></input>
        </div>
        <div style="margin-top: 50px;">
          <button type="submit">Register</button>
        </div>
      </form>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>
    <%- include('partials/toast') %>

    <!-- Scripts -->
    <script>
      document.getElementById('nav-register').classList.add('active');
    </script>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
